# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# VSCode / IDE
.vscode/
.idea/

# Sistema
.DS_Store

# Archivos temporales
*.log

# Datos extraídos (PDF, TXT, CSV)
*.pdf
*.txt
*.csv

# Base de datos SQLite
*.db
*.sqlite3

# Carpetas de datos específicas si las creas
data/
db/